.u-text-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: antiquewhite;
  width: 100%;
  height: 100%;
  max-width: 46px;
  max-height: 46px;
  border-radius: 500px;
}